 <!--footer-->
 <footer class="d-flex flex-wrap align-items-center justify-content-between py-2 border-top">
    <p class="mt-2">Copyright © Drizzle.</p>
    <div class="text-end ms-auto d-none d-md-block">
        <button type="button" class="btn btn-dark nohvr foot btn-sm pl-2">Terms of use</button>
        <button type="button" class="btn btn-dark nohvr foot btn-sm">Privacy policy</button>
    </div>
</footer>