<div class="d-flex flex-column align-items-center justify-content-center mh-100 mb-4">
    <h1 class="text-center" style="font-size: 48px; font-weight: bold; margin-bottom: 10px;">
The header statement goes here</h1>
    <div class="text-center mb-2" style="max-width: 600px;">
        <p style="font-size: 18px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nisi ipsum ex sunt, quia deserunt facilis illo delectus! Veritatis alias soluta libero debitis, ab reiciendis consequatur nulla natus dicta ullam?
        </p>
    </div>
    <div class="d-flex justify-content-center gap-3 mb-3">
        <button type="button" class="btn btn-outline-light px-lg-5 px-md-3 px-sm-2 px-xs-1">Sign In</button>
        <button type="button" class="btn btn-light px-lg-5 px-md-3 px-sm-2 px-xs-1">Log In</button>
    </div>
</div>