<div class="d-flex flex-column align-items-center justify-content-center mh-100 mb-4 vh-100">
    <h1 class="text-center" style="font-size: 48px; font-weight: bold; margin-bottom: 10px;">
Welcome to Drizzle!</h1>
    <div class="text-center mb-2" style="max-width: 600px;">
        <p style="font-size: 18px;">
            Your handy documents and case file authenticator, with end-to-end  encryption and a user-friendly interface. All your documents are stored securely on the bolckchain, accessible from anywhere.
        </p>
    </div>
    <div class="d-flex justify-content-center gap-3 mb-3">
        <button type="button" class="btn btn-outline-light px-lg-5 px-md-3 px-sm-2 px-xs-1">Sign In</button>
        <button type="button" class="btn btn-light px-lg-5 px-md-3 px-sm-2 px-xs-1">Log In</button>
    </div>
</div>